<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div>
    <ol class="breadcrumb">
        <li class="active">菜单-
        </li>
        <li class="active">角色信息-
        </li>
        <li class="active">角色添加
        </li>
    </ol>

    <form class="form-horizontal" role="form">
        <div class="form-group ">
            <label for="name" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="name" placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label for="rank" class="col-sm-2 control-label">级别</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="rank" placeholder="请输入级别">
            </div>
        </div>

        <div class="form-group col-sm-5">
        <input type="button" class="btn " id="btn_insert" value="添加" >
        <input type="button" class="btn " id="btn_back" value="返回" >
        </div>


    </form>
</div>
<script>
    $(document).ready(function(){
        //提交
        $("#btn_insert").click(function (e) {
            var name = $("#name").val();
            var rank = $("#rank").val();

            insert("role",{"name":name,"rank":rank});
        });
        //返回
        $("#btn_back").click(function (e) {
            loadPage("role",1)
        });
    });
</script>
</body>
</html>