<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<div  id="right" th:fragment="role">
    <ol class="breadcrumb">
        <li class="active">菜单-
        </li>
        <li class="active">角色信息
        </li>
    </ol>

    <div class="list_content">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label for="search_name">名称：</label>
                    <input type="text" class="form-control" id="search_name" placeholder="请输入名称" th:value="${name?:null}">
                </div>
                <div class="form-group">
                    <button  class="btn " id="btn_search" type="button">查找</button>
                </div>
                <button type="button"  class="btn " id="btn_add" style="margin-left: 458px;">添加</button>

            </form>
        </div>
    </div>
    <!--
        列表展示
    -->
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th>名称</th>
                <th>级别</th>

                <th align="center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role,memberStat:${roleList}">
                <td ><a href="javascript:;" class="btn_edit" th:id="${role.id}" th:text="${role.name}"></a></td>
                <td th:text="${role.rank}"></td>

                <td>
                    <div class="btn-group">
                        <!--<button type="button" class="btn  btn_edit" th:id="${role.id}">修改</button>-->
                        <button type="button" class="btn btn_delete" th:id="${role.id}">删除</button>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div th:replace="web/common/common_header :: my_pagination_footer"></div>

    </div>
</div>


<input type="text" hidden="hidden" id="get_page_num" th:value="${page_num}">

<script>
    $(document).ready(function(){
        //总页数 page_num
        var page_num = $("#get_page_num").val();
        //上一页
        $('#pre').click(function (e) {
            var num = $("#current_num").text();
            var name = $("#search_name").val();
            if(name == ""){
                name = "all"
            }
            if(parseInt(num)>1){
                loadSearchPage("role",name,Number(num)-1);
            }
        });
        //下一页
        $('#next').click(function (e) {
            var num =  $("#current_num").text();
            var name = $("#search_name").val();
            if(name == ""){
                name = "all"
            }
            if(parseInt(num)<parseInt(page_num)){
                loadSearchPage("role",name,Number(num)+1);
            }
        });
        //删除
        $(".btn_delete").click(function (e) {
            var id = this.id;
            del("role",id);
        });
        //添加
        $("#btn_add").click(function (e) {
            loadAddPage("role");
        });
        //修改
        $(".btn_edit").click(function (e) {
            loadEditPage("role",this.id);
        });

        //搜索
        $("#btn_search").click(function (e) {
            var name = $("#search_name").val();
            if(name == ""){
                name = "all"
            }
            loadSearchPage("role",name,1);
        });

    });
</script>
</body>
</html>