.list_content{
    padding-left: 10px;
    padding-right: 10px;
}

.panel{
    margin-bottom: 1rem;
}
.form-group{
    margin-left: 10px;
}
#btn_search{
    background: #f5943a;
}
#btn_add{
    background: #343a40;
    border-color:#343a40;
}
.btn_edit{
    color: #f5943a;
}
/*.btn_edit :hover{*/
    /*color: #f56206;*/
    /*text-decoration:none;*/
/*}*/
#btn_insert{
    background: #f5943a;
    float: right;
}
#btn_update{
    background: #f5943a;
    float: right;
}
#btn_back{
    background: #343a40;
    border-color:#343a40;
    float: left;
}
.table-responsive{
    margin-bottom: 1rem;
}
.table thead tr th{
    text-align: center;
}
.table tbody tr td{
    vertical-align: middle;
    text-align: center;
}
.btn_delete{
    background:#f5943a ;
}

.pagination{
    margin-right: 10px;
}
.page-link{
    background-color:rgba(255,0,0,0);
    width:50px;
    height: 42px;
    border-color: rgba(255,0,0,0);
    text-align: center;
}
.page-item.active .page-link {
    color:black;
    background-color:rgba(255,0,0,0);
    border-color: rgba(255,0,0,0);
    /*background-color: #e9ecef;*/
    /*border-color: #dee2e6;*/
}
